* {
    margin: 0;
    padding: 0;
}

h1 { 
    text-align: center;
}


.container{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
    margin-top: 1%;
}
.square{
    border: 1px solid black;
}

.square:hover {
    background-color: violet;
}

body {
    display: flex;
    flex-direction: column;
}

.size-button {
    margin: auto;
    margin-top: 1%;
}