/* variables for rows and columns */
:root {
    --rows: 0;
    --cols: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw; 
    height: 100vh; 
    margin: 0;
    padding: 0;
}

.grid-item {
    box-sizing: border-box;
    border: 0.7px solid rgb(180, 178, 178); /* Optional: border around each cell */
    flex: 1 1 var(--rows);
    height: var(--cols)
}